{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_css %}
{% render_bundle 'common' 'css' %}
{% render_bundle 'librosoci' 'css' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2 class="text-center">Libro soci di ELSA {{ sezione.nome }}</h2>
    </div>

    {% if sezione.nome != "Italia" %}
    {% include 'librosoci/soci_in_scadenza.html' %}
    {% endif %}
    <div id="tutti-i-soci">
        <div class="page-header">
            <h3>Tutti i soci
                {% if sezione.nome != "Italia" %}
                <button class="btn btn-primary btn-header btn-elsagest float-right" id="btn-aggiungi-socio" type="button">Nuovo socio</button>
                {% endif %}
            </h3>
        </div>
        <div class="table-responsive table-soci">
            {% if sezione.nome == "Italia" %}
            <input type="hidden" class="elsa-italia" value="true">
            {% else %}
            <input type="hidden" class="elsa-italia" value="false">
            {% endif %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Tessera n.</th>
                    <th>email</th>
                    <th>socio dal</th>
                    {% if sezione.nome != "Italia" %}
                    <th>ultimo rinnovo</th>
                    {% endif %}
                    <th>scadenza iscrizione</th>
                    {% if sezione.nome == "Italia" %}
                    <th>Sezione</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody class="lista-soci" data-first="100" data-infinite-scroll="true">

                </tbody>
            </table>
        </div>
    </div>
</div>

{% if sezione.nome != "Italia" %}
{% include 'librosoci/modals/modal_aggiungi_socio.html' %}
{% include 'librosoci/modals/modal_modifica_socio.html' %}
{% endif %}

{% endblock %}

{% block extra_js %}
{% render_bundle 'common' 'js' %}
{% render_bundle 'librosoci' 'js' %}
{% endblock %}
