{% extends "base/base.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_css %}
{% render_bundle 'common' 'css' %}
{% render_bundle 'librosoci' 'css' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2 class="text-center">Libro soci di ELSA {{ user.userprofile.sezione.nome }}</h2>
    </div>
    <div id="soci-in-scadenza">
        <div class="page-header">
            <h3>Iscrizioni in scadenza e scadute
                <button class="btn btn-primary hidden float-right" type="button">Invia promemoria</button>
            </h3>
        </div>
        <div class="table-responsive table-soci">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Tessera n.</th>
                    <th>email</th>
                    <th>socio dal</th>
                    <th>ultimo rinnovo</th>
                    <th>scadenza iscrizione</th>
                </tr>
                </thead>
                <tbody class="lista-soci" data-scadenza="true">

                </tbody>
            </table>
        </div>
    </div>

    <div id="tutti-i-soci">
        <div class="page-header">
            <h3>Tutti i soci
                <button class="btn btn-primary float-right" id="btn-aggiungi-socio" type="button">Nuovo socio</button>
            </h3>
        </div>
        <div class="table-responsive table-soci">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Tessera n.</th>
                    <th>email</th>
                    <th>socio dal</th>
                    <th>ultimo rinnovo</th>
                    <th>scadenza iscrizione</th>
                </tr>
                </thead>
                <tbody class="lista-soci">

                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'librosoci/modals/modal_aggiungi_socio.html' %}
{% include 'librosoci/modals/modal_modifica_socio.html' %}

{% endblock %}

{% block extra_js %}
{% render_bundle 'librosoci' 'js' %}
{% endblock %}
