{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_css %}
{% render_bundle 'common' 'css' %}
{% render_bundle 'elsamail' 'css' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2 class="text-center">ELSA {{ sezione.denominazione }} | Nuova Email</h2>
    </div>


    <div id="email-composer">
        <div class="page-header">
            <h3>Nuova email</h3>
        </div>
        <form id="form-invia-email" action="{% url 'send_email' %}">
            <div id="filtri-destinatari">
                <ul class="list-inline">
                    <li>
                        <div class="form-inline">
                            <label for="soci-destinatari">ai soci di:</label>
                            <select class="soci-destinatari" id="soci-destinatari" name="soci_destinatari">
                                {% if sezione.nome == "Italia" %}
                                <option value="0">Nessuno</option>
                                <option value="1000">Tutti i soci di ELSA Italia</option>
                                {% for sez in sezioni %}
                                {% if sez.nome != "Italia" %}
                                <option value="{{sez.id}}}">ELSA {{sez.denominazione}}</option>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <option value="{{sezione.id}}" selected>ELSA {{sezione.denominazione}}</option>
                                <option value="0">Nessuno</option>
                                {% endif %}
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="form-inline">
                            <label for="consigli-destinatari">al consiglio di: </label>
                            <select class="cons-destinatari" id="consigli-destinatari" data-opposite="#consiglieri-destinatari"
                                    name="consigli_destinatari">
                                <option value="0">Nessuno</option>
                                <option value="1000">Tutti i consigli</option>
                                {% for sez in sezioni %}
                                <option value="{{sez.id}}">ELSA {{sez.denominazione}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="form-inline">
                            <label for="consiglieri-destinatari">a tutti i: </label>
                            <select class="cons-destinatari" id="consiglieri-destinatari" data-opposite="#consigli-destinatari"
                                    name="consiglieri_destinatari">
                                <option value="0">Nessuno</option>
                                {% for ruolo in ruoli %}
                                {% if ruolo.id >= 14 and ruolo.id < 21 %}
                                <option value="{{ruolo.id}}">{{ruolo.ruolo}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label class="text-muted">
                                <input id="check-directors" type="checkbox" name="includi_directors" disabled value="true"/>includi directors
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <label for="oggetto-email">Oggetto:</label>
            <input type="text" required class="form-control" id="oggetto-email" name="oggetto">
            <textarea id="new_email" name="email_body"></textarea>
            <button class="btn btn-danger btn-elsagest float-right" id="btn-nuova-mail-soci" type="submit">
                Invia
            </button>
            <div class="col-md-4">
                <div class="form-group form-inline">
                    <button class="btn btn-warning btn-elsagest" id="btn-salva-bozza" type="button">
                        Salva come bozza
                    </button>
                    <select class="form-control" name="salva-bozza" id="disponibile-per">
                        <option value="0">per me</option>
                        <option value="1">per ELSA {{sezione.denominazione}}</option>
                        {% if sezione.nome == "Italia" %}
                        <option value="2">per tutte le sezioni</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <br/>
            <br/>
            <div class="form-result"></div>
        </form>
    </div>
    {% include 'elsamail/lista_bozze_email.html' %}
</div>

{% if sezione.nome != "Italia" %}
{% include 'librosoci/modals/modal_aggiungi_socio.html' %}
{% include 'librosoci/modals/modal_modifica_socio.html' %}
{% endif %}
{% include 'elsamail/modals/modal_nuova_email.html' %}

{% endblock %}

{% block extra_js %}
{% render_bundle 'common' 'js' %}
{% render_bundle 'elsamail' 'js' %}
{% endblock %}
