<div id="bozze-email">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-mie-bozze" role="tab" data-toggle="tab">Le mie bozze</a></li>
        <li><a href="#tab-bozze-sezione" role="tab" data-toggle="tab">Le bozze di ELSA {{sezione.denominazione}}</a>
        </li>
        <li><a href="#tab-bozze-nazionali" role="tab" data-toggle="tab">Bozze nazionali</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-mie-bozze">
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-bozze-sezione">
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-bozze-nazionali">
        </div>
    </div>
</div>
