[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=elsa
Group=elsa
WorkingDirectory=/home/elsa/elsagest/elsagest
ExecStart=/home/elsa/elsagest/venv/bin/gunicorn --timeout 300 --access-logfile /home/elsa/elsagest/gunicon_access.log --error-logfile /home/elsa/elsagest/gunicon_error.log --workers 3 --bind unix:/home/elsa/elsagest/elsagest/elsagest.sock elsagest.wsgi:application

[Install]
WantedBy=multi-user.target
