{% extends "base.html" %}

{% load render_bundle from webpack_loader %}

{% block content %}

<!-- temporaneo, in attesa di un custom template -->

<div class="login-clean">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <form method="post"> {% csrf_token %}
            <input type="hidden" name="next" value="/"/>
            <h2 class="text-center">Accedi</h2>
            {% if form.errors %}
            <p style="color: red; text-align:center">Username o password errati.<br/>Prova di nuovo.</p>
            {% endif %}
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Accedi</button>
            </div>
            <a href="{% url 'password_reset' %}" class="forgot">Password dimenticata?</a><br/>
        </form>
        </div>
    </div>
</div>

{% endblock %}
