{% extends "base/base.html" %}

{% load render_bundle from webpack_loader %}

{% block content %}

<!-- temporaneo, in attesa di un custom template -->

<div class="login-clean">
    <form method="post"> {% csrf_token %}
        <input type="hidden" name="next" value="/"/>
        <h2 class="text-center">Accedi</h2>
        {% if form.errors %}
        <p style="color: red; text-align:center">Username o password errati.<br/>Prova di nuovo.</p>
        {% endif %}
        <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="Username"/>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Accedi</button>
        </div>
        <a href="#" class="forgot">Password dimenticata?</a><br/>
    </form>
</div>

{% endblock %}
