{% extends "base/base.html" %}

{% load render_bundle from webpack_loader %}

{% block content %}

<!-- temporaneo, in attesa di un custom template -->

<div class="container">
    <div class="row">
        <div class="col-md-10 ">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Completa il tuo profilo</legend>

                    <!-- Text input-->
                    {% autoescape off %}

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="first_name">Username</label>
                        <div class="col-md-4">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>

                                </div>
                                <input id="username" name="username" type="text" placeholder="Username"
                                       class="form-control input-md" value="{{ user.username }}" disabled>
                            </div>
                            <a href="/password">Cambia password</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="first_name">Nome</label>
                        <div class="col-md-4">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>

                                </div>
                                <input id="first_name" name="first_name" type="text" placeholder="Nome"
                                       class="form-control input-md" value="{{ user.first_name }}" required disabled>
                            </div>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="last_name">Cognome</label>
                        <div class="col-md-4">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>

                                </div>
                                <input id="last_name" name="last_name" type="text" placeholder="Cognome"
                                       class="form-control input-md" value="{{ user.last_name }}" required disabled>
                            </div>


                        </div>
                    </div>

                    <!-- PROFESSIONE -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="professione">Professione</label>
                        <div class="col-md-4">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-briefcase"></i>

                                </div>
                                <select id="professione" class="selectpicker form-control">
                                    {% for professione in professioni %}
                                    <option value="{{profile.professione}}"
                                            {% if professione == profile.professione %} selected="selected" {% endif %}>
                                        {{professione|capfirst}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>

                    <!-- CODICE FISCALE -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="codice_fiscale">Codice fiscale</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-id-card" style="font-size: 20px;"></i>

                                </div>
                                <input id="codice-fiscale" name="codice_fiscale" type="text"
                                       placeholder="Codice fiscale"
                                       class="form-control input-md" value="{{ profile.codice_fiscale }}">

                            </div>

                        </div>
                    </div>

                    <!-- PARTITA IVA -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="partita_iva">Partita IVA</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-id-card-o" style="font-size: 20px;"></i>

                                </div>
                                <input id="partita-iva" name="partita_iva" type="text" placeholder="Partita IVA"
                                       class="form-control input-md" value="{{ profile.partita_iva }}">

                            </div>

                        </div>
                    </div>

                    <!-- INDIRIZZO FATTURAZIONE-->

                    <div class="form-group">
                        <label class="col-md-4 control-label col-xs-12" for="Permanent Address">Indirizzo
                            fatturazione</label>
                        <div class="col-md-2  col-xs-4">
                            <input id="citta_fatturazione" name="Permanent Address" type="text"
                                   placeholder="Città"
                                   class="form-control input-md ">
                        </div>

                        <div class="col-md-2 col-xs-4">

                            <input id="cap_fatturazione" name="Permanent Address" type="text"
                                   placeholder="CAP"
                                   class="form-control input-md ">
                        </div>


                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Permanent Address"></label>
                        <div class="col-md-2  col-xs-4">
                            <input id="Permanent Address" name="Permanent Address" type="text"
                                   placeholder="Via"
                                   class="form-control input-md ">

                        </div>
                        <div class="col-md-2 col-xs-4">

                            <input id="civico_fatturazione" name="Permanent Address" type="text"
                                   placeholder="numero civico"
                                   class="form-control input-md ">
                        </div>


                    </div>


                    <!-- TELEFONO -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Phone number ">Telefono</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-mobile fa-1x" style="font-size: 20px;"></i>

                                </div>
                                <input id="numero-cellulare" name="Phone number " type="text"
                                       placeholder="Cellulare" class="form-control input-md"
                                       value="{{ profile.telefono_cellulare }}">

                            </div>
                            <div class="input-group othertop">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>

                                </div>
                                <input id="numero-fisso" name="Secondary Phone number " type="text"
                                       placeholder="Fisso" class="form-control input-md"
                                       value="{{ profile.telefono_fisso }}">

                            </div>

                        </div>
                    </div>

                    <!-- EMAIL-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Email Address">Email</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope-o"></i>

                                </div>
                                <input id="Email Address" name="Email Address" type="text"
                                       placeholder="Email Address"
                                       class="form-control input-md" value="{{ user.email }}">

                            </div>

                        </div>
                    </div>

                    <!-- PEC -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Pec">Pec</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope-o"></i>

                                </div>
                                <input id="pec" name="Pec" type="text"
                                       placeholder="Indirizzo PEC"
                                       class="form-control input-md">

                            </div>

                        </div>
                    </div>

                    <!-- CURRICULUM -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="curriculum">Curriculum</label>
                        <div class="col-md-4">
                            <textarea class="form-control" rows="10" id="curriculum"
                                      name="curriculum" placeholder="Curriculum">{{ profile.curriculum }}</textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <a class="btn btn-success" id="salva-modifiche"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>
                                Salva</a>
                            <a class="btn btn-danger" value="" id="annulla-modifiche"><span
                                    class="glyphicon glyphicon-remove-sign"></span>Annulla</a>

                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        {% endautoescape %}
        <div class="col-md-2 hidden-xs">
            <img src="http://websamplenow.com/30/userprofile/images/avatar.jpg"
                 class="img-responsive img-thumbnail ">
        </div>


    </div>
</div>

{% endblock %}

{% block extra_js %}
{% render_bundle 'users_core' 'js' %}
{% endblock %}
