<div role="dialog" tabindex="-1" class="modal fade" id="modal-aggiungi-socio">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">ELSA {{ user.userprofile.sezione.nome }} - nuovo Socio</h4>
            </div>
            <div class="modal-body">
                <div class="row form-aggiungi-socio">
                        <form id="form-aggiungi-socio" action="#" method="post" class="form" role="form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <input class="form-control" name="nome" placeholder="Nome" type="text"
                                           required autofocus/>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <input class="form-control" name="cognome" placeholder="Cognome" type="text"
                                           required/>
                                </div>
                            </div>
                            <input class="form-control" name="codice_fiscale" placeholder="Codice fiscale" type="text" required/>
                            <input class="form-control" name="email" placeholder="Email" type="email" required/>
                            <input class="form-control" name="numero_tessera" placeholder="Tessera n#" type="text" required/>
                            <input id="data-iscrizione-nuovo-socio" class="form-control" name="data_iscrizione" placeholder="Data iscrizione (gg-mm-aaaa)" type="text" required/>
                            <input class="form-control" name="quotaiscrizione" placeholder="Quota iscrizione (EUR)" type="text" required/>
                            <br/>
                            <br/>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Salva
                            </button>
                        </form>
                    <div id="form-aggiungi-socio-result"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
