
.float-right {
  float: right;
  margin-top: -6px;
}

.form-info-socio {
  width: 90% !important;
  margin-right: auto;
  margin-left: auto;
  input {
    margin-top: 2% !important;
  }
  label {
    margin-bottom: -2% !important;
    margin-top: 2%;
  }
  .btn-nuovo-rinnovo {
    margin: 3%;
  }
}

.modal-dialog {
    max-width: 75% !important;
    @media (max-width: 767px) {
      width: initial !important;
    }
  }

.modal-content {
  max-height: 90vh;
}

.modal-body {
  max-height: 75vh;
  overflow-y: auto;
}

.email-editor {
  height: 75vh;
}

.loader {
  text-align: center;
}

.no-results {
  text-align: center;
  font-weight: 700;
}

.error-retry {
  text-align: center;
}


.btn-elsagest {
  margin-right: 2%;
}

.selectize-dropdown {
  position: absolute;
  z-index: 10000; /* adjust as necessary */
  border: 1px solid #d0d0d0;
  background: #ffffff;
  margin: -1px 0 0 0;
  border-top: 0 none;
}

.ui-autocomplete {
  max-height: 200px;
  max-width: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.loader {
  text-align: center;
}

.panel {
  margin-top: 1%;
}

.corpo-email {
  padding: 1%;
}
