{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {% if validlink %}

        <h4 class="text-center">Cambia la tua password</h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary btn-block" type="submit">Conferma</button>
        </form>
        {% else %}
        <p class="alert-danger text-center">
            Il link utilizzato non è più valido.
        </p>
        {% endif %}
    </div>
    <script>
      const h = document.getElementsByTagName('input');
        for (let i = 0; i < h.length; i++) {
          if (h[i].classList.length === 0) {
              h[i].classList.add("form-control");
          }
        }
    </script>
</div>
{% endblock %}
