{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_css %}
{% render_bundle 'common' 'css' %}
{% render_bundle 'elsahome' 'css' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Consiglio direttivo
            <button class="btn btn-primary btn-header btn-elsagest float-right" id="aggiorna-consiglio" type="button">
                Aggiorna componenti
            </button>
        </h3>
    </div>
    <div class="table-responsive table-consiglio-direttivo">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Ruolo</th>
                <th>Sezione</th>
                <th>email</th>
                <th>in carica dal</th>
            </tr>
            </thead>
            <tbody class="lista-consiglieri" data-sezione="1">

            </tbody>
        </table>
    </div>

    {% if sezione.nome != 'Italia' %}

    {% include 'librosoci/soci_in_scadenza.html' %}

    {% endif %}
    <div id="ultime-email">
        <div class="page-header">
            <h3>Ultime email inviate
                <a class="btn btn-info btn-header btn-elsagest float-right" href="{% url 'componi_email' %}" id="btn-nuova-mail-soci" role="button">
                    Nuova email ai soci
                </a>
            </h3>
        </div>
        <div id="lista-email">

        </div>
    </div>
</div>

{% include 'elsahome/modals/modal_modifica_consiglio.html' %}
{% endblock %}

{% block extra_js %}
{% render_bundle 'elsahome' 'js' %}
{% render_bundle 'common' 'js' %}
{% render_bundle 'elsausers' 'js' %}
{% endblock %}
