{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_css %}
{% render_bundle 'common' 'css' %}
{% render_bundle 'elsahome' 'css' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Consiglio direttivo
            <button class="btn btn-primary btn-header btn-elsagest float-right" id="aggiorna-consiglio" type="button">Aggiorna componenti</button>
        </h3>
    </div>
    <div class="table-responsive table-consiglio-direttivo">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Ruolo</th>
                <th>Sezione</th>
                <th>email</th>
                <th>in carica dal</th>
            </tr>
            </thead>
            <tbody class="lista-consiglieri" data-sezione="1">

            </tbody>
        </table>
    </div>

    {% if sezione.nome != 'Italia' %}

    {% include 'librosoci/soci_in_scadenza.html' %}

    {% endif %}

    <div class="page-header">
        <h3>Ultime email inviate ai soci
            <button class="btn btn-info btn-header btn-elsagest float-right" id="btn-nuova-mail-soci" type="button">Nuova email ai soci</button>
        </h3>
    </div>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">Love this!</h4>
            <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus nisl ac diam feugiat, non
                vestibulum libero posuere. Vivamus pharetra leo non nulla egestas, nec malesuada orci finibus.</p>
            <p><span class="reviewer-name"><strong>John Doe</strong></span><span class="review-date">7 Oct 2015</span>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">Fantastic product</h4>
            <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus nisl ac diam feugiat, non
                vestibulum libero posuere. Vivamus pharetra leo non nulla egestas, nec malesuada orci finibus.</p>
            <p><span class="reviewer-name"><strong>Jane Doe</strong></span><span class="review-date">7 Oct 2015</span>
            </p>
        </div>
    </div>
</div>

{% include 'elsahome/modals/modal_modifica_consiglio.html' %}
{% endblock %}

{% block extra_js %}
{% render_bundle 'elsahome' 'js' %}
{% render_bundle 'common' 'js' %}
{% render_bundle 'elsausers' 'js' %}
{% endblock %}
