{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_css %}
{% render_bundle 'common' 'css' %}
{% render_bundle 'elsahome' 'css' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Consiglio direttivo<div class="form-inline float-right"><label for="select-sezioni">sezione:</label>
                    <select class="select-sezione form-control" id="select-sezioni" name="sezione_consiglio">
                        {% for sez in sezioni %}
                        {% if sez.nome == sezione.nome %}
                        <option value="{{sez.id}}" selected >ELSA {{sez.denominazione}}</option>
                        {% else %}
                        <option value="{{sez.id}}" >ELSA {{sez.denominazione}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
        </h3>
        <br>
        <button class="btn btn-primary btn-header btn-elsagest float-right" id="aggiorna-consiglio" type="button">
                Aggiorna componenti
            </button>
    </div>
    <div class="table-responsive table-consiglio-direttivo">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Ruolo</th>
                <th>Sezione</th>
                <th>email</th>
                <th>in carica dal</th>
            </tr>
            </thead>
            <tbody class="lista-consiglieri" id="table-consiglieri" data-sezione="{{sezione.id}}">

            </tbody>
        </table>
    </div>

    {% if sezione.nome != 'Italia' %}

    {% include 'librosoci/soci_in_scadenza.html' %}

    {% endif %}
    <div id="ultime-email">
        <div class="page-header">
            <h3>Ultime email inviate
                <a class="btn btn-info btn-header btn-elsagest float-right" href="{% url 'componi_email' %}" id="btn-nuova-mail-soci" role="button">
                    Nuova email
                </a>
            </h3>
        </div>
        <div id="lista-email">

        </div>
    </div>
</div>

{% include 'elsahome/modals/modal_modifica_consiglio.html' %}
{% endblock %}

{% block extra_js %}
{% render_bundle 'elsahome' 'js' %}
{% render_bundle 'common' 'js' %}
{% render_bundle 'elsausers' 'js' %}
{% endblock %}
